**Hola**
- JIE
 - KJS
 
1. ksjd
 1. jshdhd
 2. sjdjd
  1. sjdjd

[Google]

| Tables        | Are       | Cool |
|:--------------|:---------:| ----:|
| col 3 is      | centered  | 234  |
| zebra stripes | are neat  | 1    |

$Y = X^2$
a
$$y = X^3$$

$^1/_2$

$\alpha$

In [3]:
print(1+3)

4

In [4]:
1+3

4

In [5]:
a = "Hola Mundo"

In [6]:
print(a)

Hola Mundo

In [9]:
import numpy as np

In [10]:
b = np.arange(8)

In [11]:
b

array([0, 1, 2, 3, 4, 5, 6, 7])

In [12]:
b + [1000]

array([1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007])

In [13]:
d=np.array([[2,3,4,5], [0,4,7,8], [2,3,4,5]])

In [14]:
d

array([[2, 3, 4, 5],
       [0, 4, 7, 8],
       [2, 3, 4, 5]])

In [16]:
b = np.arange(6).reshape(2,3)

In [17]:
b

array([[0, 1, 2],
       [3, 4, 5]])

In [18]:
b = np.arange(6).reshape(2,3)

In [19]:
my_list = [1,2,3,4,5,6]

In [23]:
my_list

[1, 2, 3, 4, 5, 6]

In [24]:
my_list + [7]

[1, 2, 3, 4, 5, 6, 7]

In [29]:
my_list.append(9)
my_list

[1, 2, 3, 4, 5, 6, 9, 9, 9, 9]

In [31]:
my_tuple= (1,2,3)
my_tuple

(1, 2, 3)

In [34]:
my_dicc = {"name":"Rulo", "credito":100}
my_dicc

{'name': 'Rulo', 'credito': 100}

In [36]:
len(my_list)

10

In [37]:
palabra = "Hola Mundo"

In [38]:
len(palabra)

10

In [39]:
palabra[0]

'H'

In [41]:
palabra[1:5:2]

'oa'

In [42]:
divided_by_zero = {"eng":"Hellow world",
                   "esp":"Hola Mundo"}

In [44]:
print(divided_by_zero["eng"])
type(divided_by_zero["eng"])

Hellow world

str

In [46]:
first_name = "Carla"
sec_name = "Luis"
nombre_completo = "%s, %s." % (first_name, sec_name)
print(nombre_completo)

Carla, Luis.

In [51]:
print("π = %.1f" % 3.14159)

π = 3.1

In [60]:
homework = 25.35
exam = 98.85
participation = 10.17
total = homework + exam + participation
print("Homework: %f\nExam: %f\nParticipation: %f\nTotal: %f" % (homework, exam, participation, total))

Homework: 25.350000
Exam: 98.850000
Participation: 10.170000
Total: 134.370000

# Loops

In [62]:
for counter in [1,2,3,4]:
    print(counter)

1
2
3
4

In [65]:
for counter in range(5):
    print(counter)

0
1
2
3
4

In [66]:
for counter in range(1,6):
    print(counter)

1
2
3
4
5

# While Loop

In [67]:
counter = 1
while counter < 5:
    print(counter)
    counter+= 1

1
2
3
4

# If ... Else

In [68]:
import math

In [71]:
if math.pi == 3.2:
    print("Edward Goodwin was right!")
else: 
    print("Pi es irracional")

Pi es irracional

In [73]:
probability = 0.9

if probability >= 0.75:
    print("Yeah!")
elif probability >= 0.5:
    print("No!")
elif probability >= 0.25:
    print("Unusual!")
else: 
    print("No way!")

Yeah!

In [74]:
def get_circumference(r):
    return math.pi * r * 2

In [75]:
get_circumference(5)

31.41592653589793

In [78]:
def bin_coeficiente(n,k):
    #regresa n!/k!(n-k)!
    #para accesar al docstring, entre comillas, colocarse sobre el parentesis de la funcion, cuando la llamas y presionar shift+tab
    """
    Hola
    """
    value = math.factorial(n)/(math.factorial(k)*math.factorial(n-k))
    return value

In [81]:
bin_coeficiente(52,2)

1326.0

# Numpy

In [82]:
import numpy as np

In [83]:
A = np.random.randint(1,10,(3,1))

In [84]:
B = np.random.randint(1,10,(1,3))

In [85]:
print(A)

[[1]
 [7]
 [1]]

In [86]:
print(B)

[[3 4 1]]

In [87]:
A*B

array([[ 3,  4,  1],
       [21, 28,  7],
       [ 3,  4,  1]])

In [88]:
B*A

array([[ 3,  4,  1],
       [21, 28,  7],
       [ 3,  4,  1]])

In [89]:
B.dot(A)

array([[32]])

In [90]:
A.dot(B)

array([[ 3,  4,  1],
       [21, 28,  7],
       [ 3,  4,  1]])

In [91]:
python_list_1 = [[i+l for l in range(2000)] for i in range(2000)]
np_array_1 = np.array(python_list_1)
np_array_1

array([[   0,    1,    2, ..., 1997, 1998, 1999],
       [   1,    2,    3, ..., 1998, 1999, 2000],
       [   2,    3,    4, ..., 1999, 2000, 2001],
       ...,
       [1997, 1998, 1999, ..., 3994, 3995, 3996],
       [1998, 1999, 2000, ..., 3995, 3996, 3997],
       [1999, 2000, 2001, ..., 3996, 3997, 3998]])

In [92]:
np_array_1[267][456]

723

In [93]:
np_array_1[267,456]

723

In [94]:
np_array_1[1:5,0]

array([1, 2, 3, 4])

In [96]:
np_array_1 = np.arange(10)
np_array_1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [97]:
def isprime(n):
    ''' checar si n es primo'''
    #checar si n es entero positivo
    n= abs(int(n))
    if n<2:
        return False
    if n==2:
        return True
    if  (n % 2)==0:
        return False
    for x in range(3, int(n**0.5)+1, 2):
        if n % x == 0:
            return False
    return True

visprime = np.vectorize(isprime)

In [98]:
np_array_1[visprime(np_array_1)]

array([2, 3, 5, 7])

In [99]:
np_array_2= np.random.randint(1, 10, size=(50000,))

In [100]:
np_array_2

array([6, 8, 8, ..., 7, 9, 3])

In [101]:
np_array_2 % 2 == 0

array([ True,  True,  True, ..., False, False, False])

In [103]:
(np_array_2 % 2 == 0).all()

False

In [104]:
(np_array_2 % 2 == 0).any()

True

In [105]:
np_array_2.max()

9

In [106]:
np_array_2.min()

1

In [107]:
np_array_2.mean()

4.99426

In [108]:
np_array_2.std()

2.5893449079641746

In [109]:
np_array_2.dtype

dtype('int32')

In [110]:
np_array_2.shape

(50000,)

In [111]:
np_array_2.ndim

1

In [112]:
np_array_2.size*np_array_2.itemsize
#peso en bytes

200000

In [113]:
np_array_2.astype(float)

array([6., 8., 8., ..., 7., 9., 3.])

In [115]:
np_array_2.reshape(500,100)

array([[6, 8, 8, ..., 4, 2, 7],
       [3, 2, 7, ..., 6, 9, 2],
       [1, 6, 2, ..., 7, 5, 7],
       ...,
       [1, 5, 9, ..., 1, 4, 5],
       [3, 5, 9, ..., 9, 8, 6],
       [7, 2, 2, ..., 7, 9, 3]])

In [116]:
np_array_2.reshape(5,100,100)

array([[[6, 8, 8, ..., 4, 2, 7],
        [3, 2, 7, ..., 6, 9, 2],
        [1, 6, 2, ..., 7, 5, 7],
        ...,
        [3, 3, 4, ..., 3, 3, 3],
        [9, 6, 8, ..., 8, 6, 3],
        [1, 6, 2, ..., 9, 8, 4]],

       [[7, 1, 3, ..., 1, 1, 7],
        [4, 5, 8, ..., 2, 5, 4],
        [4, 8, 9, ..., 8, 6, 6],
        ...,
        [2, 4, 9, ..., 9, 5, 9],
        [1, 2, 9, ..., 7, 3, 5],
        [8, 2, 1, ..., 3, 5, 8]],

       [[7, 1, 5, ..., 1, 1, 5],
        [7, 9, 8, ..., 5, 1, 6],
        [8, 2, 8, ..., 1, 3, 7],
        ...,
        [6, 1, 3, ..., 5, 7, 8],
        [1, 5, 1, ..., 3, 6, 9],
        [8, 1, 5, ..., 6, 2, 2]],

       [[6, 2, 3, ..., 7, 1, 2],
        [7, 4, 7, ..., 1, 4, 9],
        [1, 8, 5, ..., 6, 4, 8],
        ...,
        [9, 4, 1, ..., 2, 7, 6],
        [1, 3, 4, ..., 3, 4, 5],
        [9, 7, 6, ..., 5, 9, 8]],

       [[7, 1, 5, ..., 6, 8, 4],
        [7, 7, 2, ..., 8, 9, 3],
        [4, 5, 2, ..., 4, 8, 4],
        ...,
        [1, 5, 9, ..., 1, 4, 5],
        [3, 5, 9, ..., 9, 8, 6],
        [7, 2, 2, ..., 7, 9, 3]]])

In [117]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [118]:
np.zeros((10,), dtype=int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [119]:
np.ones((10,))

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [121]:
 np.arange(4,14)

array([ 4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

In [122]:
np.linspace(1,10)

array([ 1.        ,  1.18367347,  1.36734694,  1.55102041,  1.73469388,
        1.91836735,  2.10204082,  2.28571429,  2.46938776,  2.65306122,
        2.83673469,  3.02040816,  3.20408163,  3.3877551 ,  3.57142857,
        3.75510204,  3.93877551,  4.12244898,  4.30612245,  4.48979592,
        4.67346939,  4.85714286,  5.04081633,  5.2244898 ,  5.40816327,
        5.59183673,  5.7755102 ,  5.95918367,  6.14285714,  6.32653061,
        6.51020408,  6.69387755,  6.87755102,  7.06122449,  7.24489796,
        7.42857143,  7.6122449 ,  7.79591837,  7.97959184,  8.16326531,
        8.34693878,  8.53061224,  8.71428571,  8.89795918,  9.08163265,
        9.26530612,  9.44897959,  9.63265306,  9.81632653, 10.        ])

In [123]:
np.linspace(1, 10, 40)

array([ 1.        ,  1.23076923,  1.46153846,  1.69230769,  1.92307692,
        2.15384615,  2.38461538,  2.61538462,  2.84615385,  3.07692308,
        3.30769231,  3.53846154,  3.76923077,  4.        ,  4.23076923,
        4.46153846,  4.69230769,  4.92307692,  5.15384615,  5.38461538,
        5.61538462,  5.84615385,  6.07692308,  6.30769231,  6.53846154,
        6.76923077,  7.        ,  7.23076923,  7.46153846,  7.69230769,
        7.92307692,  8.15384615,  8.38461538,  8.61538462,  8.84615385,
        9.07692308,  9.30769231,  9.53846154,  9.76923077, 10.        ])

In [124]:
np.logspace(1,5,5)

array([1.e+01, 1.e+02, 1.e+03, 1.e+04, 1.e+05])

In [125]:
np.logspace(-1,5,7)

array([1.e-01, 1.e+00, 1.e+01, 1.e+02, 1.e+03, 1.e+04, 1.e+05])

In [1]:
y2 = [g1(x) for x in x2]

NameError: name 'x2' is not defined

Clase

In [4]:
np_array_1 = np.arange(1,50,3)
np_array_1

array([ 1,  4,  7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49])

In [5]:
import numpy as np
import math

In [6]:
def f(x):
    if x%2==0:
        return x^2
    else:
        return np.log(x)
    
f_3 = np.vectorize(f)

In [8]:
np_array_1[f_3(np_array_1)]

NameError: name 'f_3' is not defined

In [9]:
np.pi

3.141592653589793

In [11]:
np.cos(2)

-0.4161468365471424

In [12]:
vectorize?

Object `vectorize` not found.