In [1]:
import numpy as np
import math as mt
import matplotlib.pyplot as plt
import pandas as pd
import requests
import os
import lxml.html as lh

In [2]:
url = 'https://www.indexmundi.com/map/?v=35&l=es'
html = requests.get(url).content
VIH = pd.read_html(html)[2]

In [4]:
url_1 = 'https://www.indexmundi.com/map/?t=0&v=25&r=xx&l=en'
html_1 = requests.get(url_1).content
Birth_rate = pd.read_html(html_1)[2]

In [7]:
VIH.shape

(195, 3)

In [8]:
Birth_rate.shape

(197, 3)

In [9]:
display(VIH.head(),Birth_rate.head())

         País  VIH/SIDA - habitantes infectados con VIH/SIDA   Año
0   Sudáfrica                                        7100000  2018
1     Nigeria                                        3200000  2018
2       India                                        2100000  2018
3  Mozambique                                        1800000  2018
4       Kenia                                        1600000  2018

  Country  Birth rate (births/1,000 population)  Year
0  Angola                                    44  2017
1   Niger                                    44  2017
2    Mali                                    44  2017
3  Uganda                                    43  2017
4  Zambia                                    42  2017